<div class="jumbotron mt-4">
    <h2 class="heading">
        Filtrar por Categorías
    </h2>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form (ngSubmit)="searchInfo()">
                <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Categories</label>
                    <select class="form-select form-select-lg" name="category" [(ngModel)]="selectedCategory">
                      <option *ngFor="let category of categories;let i = index" [value]="category.value">{{category.name}}</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block btn-lg mt-3">Search</button>
            </form>
        </div>
    </div>
</div>
